body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #141414; /* Dark background */
    color: #ffffff; /* White text */
}

h1, h2, h3 {
    color: #e50914; /* Netflix red */
    font-weight: 700; /* Bold text */
}

#recipe-form, #recipe-list {
    background-color: #333333; /* Darker background for content areas */
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="text"], input[type="number"], textarea {
    width: calc(100% - 22px);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #444444; /* Dark border */
    border-radius: 4px;
    background-color: #222222; /* Dark input background */
    color: #ffffff; /* White text in input */
    font-family: 'Roboto', Arial, sans-serif;
}

button {
    padding: 10px 20px;
    background-color: #e50914; /* Netflix red */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    font-family: 'Roboto', Arial, sans-serif;
}

button:hover {
    background-color: #d40813; /* Slightly darker red on hover */
}
